body {
  text-align: center;
}

#output-area {
  display: none;
}

div#box {
    width: 500px;
    height: 300px;
    border: 1px solid black;
    text-align: center;
}

div#box2 {
    width: 500px;
    height: 300px;
    border: 1px solid black;
    text-align: center;
    background-color: yellow;
}

img {
  width: 51%;
}

div.output-box {
  width: 80%;
  height: 150px;
  border: 10px solid green;
  border-radius: 5em;
  padding: 5px;
  margin: 25px;
  display: inline-block;
}
